<aside class="menu" *ngIf="exchangeRate">
    <h3>Taux de change</h3>
    <p>1 EUR = <strong>{{ exchangeRate.USD }}</strong> USD</p>
    <p>1 EUR = <strong>{{ exchangeRate.GBP }}</strong> GBP</p>
    <p>1 EUR = <strong>{{ exchangeRate.CHF }}</strong> CHF</p>
    <p>1 EUR = <strong>{{ exchangeRate.TND }}</strong> TND</p>
    <p>1 EUR = <strong>{{ exchangeRate.JPY }}</strong> JPY</p>
    <p>1 EUR = <strong>{{ exchangeRate.AUD }}</strong> AUD</p>
    <p>1 EUR = <strong>{{ exchangeRate.CAD }}</strong> CAD</p>
    <p>1 EUR = <strong>{{ exchangeRate.CNH }}</strong> CNH</p>

    <p class="updated">Mise à jour : {{ exchangeRate.updated }}</p>
  </aside>
  